.sv-hidden {
  display: none !important;
}

.root {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  width: 100%;
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media screen and (min-width: 30em) {
    .root {
        padding-left:2rem;
        padding-right: 2rem;
        border-top: 0px;
    }
}

h4.title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}

h4.sv_p_title {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}

h5 {
  margin-top: 16px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
}

#sq_110_ariaTitle {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}

.form-control {
  border: 2px solid #12263A;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 12px 20px;
  height: 40px;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  font-family: Poppins;
  font-style: normal;
  display: flex;
  align-items: center;
  width: 100%;
}

.radio.sv-q-col-1 {
  border-radius: 5px;
  margin-bottom: 6px;
}

.radio.sv-q-col-1:hover {
  background-color: #FAFAFA;
}

.checked {
  background-color: #FAFAFA;
}

.sv_qstn .radio label {
  width: 100%;
  margin-bottom: 0px;
  transition: .3s ease all;
  border-radius: 5px;
}

input[type='radio'], label{
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: Poppins;
}

input[type='radio'] {
    margin-right: 8px;
}

input[type='checkbox']:checked + label {
  color: #ffffff;
  font-style: normal;
}

.button {
  display: inline;
}

.button.button-large.bg-primary-4.btn.sv_prev_btn {
  background-color: #ffffff;
  border: 1px #12263a;
  color: #12263A;
  margin-bottom: 10px;
}

.panel-footer {
  padding-top: 20px;
}

.sv_container {
     border-radius: 0;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     flex-direction: column;
     -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;
     flex-grow: 1;
     margin-bottom: 0;
     margin-left: auto;
     margin-right: auto;
     overflow: hidden;
     position: relative;
     width: 100%;
 }

@media screen and (min-width: 600px) {
   .sv_container {
       border-radius:16px;
       width: 480px;
       max-width: 600px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 0px;
   }
}

.panel-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.panel-footer {
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-top: 1px solid rgba(0,0,0,0.06);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    width: 100%;
    margin: auto auto 0 auto;
}

@media screen and (min-width: 30em) {
    .panel-footer {
        padding-left:2rem;
        padding-right: 2rem;
        border-top: 0px;
    }
}

.panel-footer { display: flex; flex-direction: column; }
.sv_prev_btn { order: 3; }
.sv_next_btn { order: 1; }
.sv_complete_btn { order: 2; }

.alert.alert-danger.sv_qstn_error_top {
  margin-bottom: 20px;
}
